---
import "../styles/global.css";
import ProductItem from "../components/ProductItem.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section class="text-white bg-black py-1">
			<div class="container mx-auto text-center relative">
				<p>Sign up and get 20% off to your first order. Sign Up Now</p>
				<button type="button" class="absolute right-0 top-0">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"
						></path></svg
					>
				</button>
			</div>
		</section>

		<nav class="py-3">
			<div class="container mx-auto flex items-center gap-4">
				<div class="flex items-center gap-4">
					<img src="https://placehold.co/100x40" alt="logo" />
					<ul class="flex items-center gap-4">
						<li><a href="">Shop</a></li>
						<li><a href="">On Sale</a></li>
						<li><a href="">New Arrivals</a></li>
						<li><a href="">Brands</a></li>
					</ul>
				</div>
				<div class="flex-1">
					<input
						type="search"
						placeholder="Search for products..."
						class="bg-gray-300 w-full rounded-full py-2 px-4"
					/>
				</div>
				<div>
					<a href="" class="flex items-center gap-2">Account</a>
				</div>
			</div>
		</nav>

		<header class="bg-neutral-100">
			<div class="container mx-auto">
				<div class="flex flex-col md:flex-row gap-4 pt-12">
					<section class="self-center">
						<section>
							<h1 class="text-4xl md:text-5xl font-bold">
								FIND CLOTHES THAT MATCHES YOUR STYLE
							</h1>
							<p class="mt-5 text-gray-500">
								Browse through our diverse range of meticulously
								crafted garments, designed to bring out your
								individuality and cater to your sense of style.
							</p>
							<div class="mt-3">
								<a
									href="#"
									class="w-full md:w-auto text-center bg-black hover:bg-zinc-700
                transition text-white py-3 px-16 mt-5 inline-block rounded-full"
									>Shop Now</a
								>
							</div>
						</section>
						<section class="mt-10">
							<ul class="grid grid-cols-2 sm:grid-cols-3">
								<li class="stats-item border-r-2">
									<strong>200+</strong>
									<small>International Brands</small>
								</li>
								<li class="stats-item">
									<strong>2,000+</strong>
									<small>High-Quality Products</small>
								</li>
								<li
									class="stats-item sm:border-l-2 col-span-2 sm:col-span-1 items-center mt-4 sm:mt-0"
								>
									<strong>30,000+</strong>
									<small>Happy Customers</small>
								</li>
							</ul>
						</section>
					</section>
					<section class="self-end">
						<img src="https://placehold.co/800x800" alt="" />
					</section>
				</div>
			</div>
		</header>

		<section class="py-6 bg-black">
			<div class="container mx-auto">
				<div class="flex gap-4 justify-center">
					<img src="https://placehold.co/150x50" alt="" />
					<img src="https://placehold.co/150x50" alt="" />
					<img src="https://placehold.co/150x50" alt="" />
					<img src="https://placehold.co/150x50" alt="" />
					<img src="https://placehold.co/150x50" alt="" />
				</div>
			</div>
		</section>

		<section class="py-12 mt-6">
			<h2 class="text-5xl font-bold text-center">NEW ARRIVALS</h2>
			<ul class="grid grid-cols-4 gap-4">
				<ProductItem img="https://placehold.co/200x200" name="Product 1" price="99.99" star="4.8" /></ul>
				<ProductItem img="https://placehold.co/200x200" name="Product 2" price="99.99" star="4.8" /></ul>
				<ProductItem img="https://placehold.co/200x200" name="Product 3" price="99.99" star="4.8" /></ul>
				<ProductItem img="https://placehold.co/200x200" name="Product 4" price="99.99" star="4.8" /></ul>
			</ul>
		</section>
	</body>
</html>
