---
import "../styles/global.css";
import ProductItem from "../components/ProductItem.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section class="text-white bg-black py-1">
			<div class="container mx-auto text-center relative">
				<p class="text-sm sm:text-base">
					Sign up and get 20% off to your first order. Sign Up Now
				</p>
				<button
					type="button"
					class="absolute right-0 top-0 hidden sm:block"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"
						></path></svg
					>
				</button>
			</div>
		</section>

		<nav class="py-3">
			<div class="container mx-auto flex items-center gap-4">
				<div class="flex items-center gap-4">
					<div class="drawer md:hidden">
						<input
							id="my-drawer"
							type="checkbox"
							class="drawer-toggle"
						/>
						<div class="drawer-content">
							<!-- Page content here -->
							<label for="my-drawer" class="drawer-button"
								><svg
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									><path
										fill="currentColor"
										d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"
									></path></svg
								></label
							>
						</div>
						<div class="drawer-side">
							<label
								for="my-drawer"
								aria-label="close sidebar"
								class="drawer-overlay"></label>
							<ul
								class="menu bg-black bg-base-100 text-base-content text-white font-bold min-h-full w-50 p-4"
							>
								<li><a href="">Shop</a></li>
								<li><a href="">On Sale</a></li>
								<li><a href="">New Arrivals</a></li>
								<li><a href="">Brands</a></li>
							</ul>
						</div>
					</div>

					<img src="https://placehold.co/100x40" alt="logo" />
					<ul class="hidden lg:flex items-center gap-4">
						<li><a href="">Shop</a></li>
						<li><a href="">On Sale</a></li>
						<li><a href="">New Arrivals</a></li>
						<li><a href="">Brands</a></li>
					</ul>
				</div>
				<div class="md:flex flex-1">
					<input
						type="search"
						placeholder="Search for products..."
						class="bg-gray-300 w-full rounded-full py-2 px-4"
					/>
				</div>
				<div>
					<a href=""
						><svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							><path
								fill="currentColor"
								d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 4c1.93 0 3.5 1.57 3.5 3.5S13.93 13 12 13s-3.5-1.57-3.5-3.5S10.07 6 12 6m0 14c-2.03 0-4.43-.82-6.14-2.88a9.95 9.95 0 0 1 12.28 0C16.43 19.18 14.03 20 12 20"
							></path></svg
						></a
					>
				</div>
			</div>
		</nav>

		<header class="bg-neutral-100">
			<div class="container mx-auto">
				<div class="flex flex-col md:flex-row gap-4 pt-12">
					<section class="self-center">
						<section>
							<h1 class="text-4xl md:text-5xl font-bold">
								FIND CLOTHES THAT MATCHES YOUR STYLE
							</h1>
							<p class="mt-5 text-gray-500">
								Browse through our diverse range of meticulously
								crafted garments, designed to bring out your
								individuality and cater to your sense of style.
							</p>
							<div class="mt-3">
								<a
									href="#"
									class="w-full md:w-auto text-center bg-black hover:bg-zinc-700
                transition text-white py-3 px-16 mt-5 inline-block rounded-full"
									>Shop Now</a
								>
							</div>
						</section>
						<section class="mt-10">
							<ul class="grid grid-cols-2 md:grid-cols-3">
								<li class="stats-item border-r-2">
									<strong>200+</strong>
									<small>International Brands</small>
								</li>
								<li class="stats-item">
									<strong>2,000+</strong>
									<small>High-Quality Products</small>
								</li>
								<li
									class="stats-item sm:border-l-2 col-span-2 sm:col-span-1 mt-4 sm:mt-0 items-center"
								>
									<strong>30,000+</strong>
									<small>Happy Customers</small>
								</li>
							</ul>
						</section>
					</section>
					<section class="self-end">
						<img src="https://placehold.co/800x800" alt="" />
					</section>
				</div>
			</div>
		</header>

		<section class="py-6 bg-black">
			<div class="container mx-auto">
				<div class="flex flex-wrap gap-4 justify-center">
					<img src="https://placehold.co/150x50" alt="" />
					<img src="https://placehold.co/150x50" alt="" />
					<img src="https://placehold.co/150x50" alt="" />
					<img src="https://placehold.co/150x50" alt="" />
					<img src="https://placehold.co/150x50" alt="" />
				</div>
			</div>
		</section>

		<section class="py-12 mt-6">
			<h2 class="text-4xl sm:text-5xl font-bold text-center">
				NEW ARRIVALS
			</h2>
			<div class="container mx-auto">
				<ul class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-14">
					<ProductItem
						img="https://placehold.co/200x200"
						name="Product 1"
						price="99.99"
						star="4.8"
					/>
					<ProductItem
						img="https://placehold.co/200x200"
						name="Product 2"
						price="99.99"
						sale={{ percent: 20, price: 80 }}
						star="4.8"
					/>
					<ProductItem
						img="https://placehold.co/200x200"
						name="Product 3"
						price="99.99"
						star="4.8"
					/>
					<ProductItem
						img="https://placehold.co/200x200"
						name="Product 4"
						price="99.99"
						star="4.8"
					/>
				</ul>
			</div>
			<div class="mt-6 text-center">
				<a
					href="#"
					class="border border-gray-400 px-24 py-4 inline-block rounded-full"
					>View All</a
				>
			</div>
		</section>

		<section>
			<div class="container mx-auto">
				<div
					class="rounded-2xl bg-neutral-100 py-8 md:py-16 px-6 md:px-10"
				>
					<h2
						class="text-3xl sm:text-4xl font-bold text-center mb-10"
					>
						BROWSE BY DRESS STYLE
					</h2>
					<ul class="grid grid-cols-1 md:grid-cols-8 gap-4">
						<li class="md:col-span-3">
							<a
								href="#"
								class="dress-style-item"
								style="background-image: url('https://placehold.co/400x400');"
								>Casual</a
							>
						</li>
						<li class="md:col-span-5">
							<a
								href="#"
								class="dress-style-item"
								style="background-image: url('https://placehold.co/400x400');"
								>Formal</a
							>
						</li>
						<li class="md:col-span-5">
							<a
								href="#"
								class="dress-style-item"
								style="background-image: url('https://placehold.co/400x400');"
								>Party</a
							>
						</li>
						<li class="md:col-span-3">
							<a
								href="#"
								class="dress-style-item"
								style="background-image: url('https://placehold.co/400x400');"
								>Gym</a
							>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="pt-12">
			<div class="container mx-auto">
				<h2 class="text-4xl font-bold">CUSTOMERS</h2>
				<ul class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-4">
					<li
						class="border border-gray-400 rounded-2xl py-6 px-8 space-y-2"
					>
						<span class="flex text-yellow-400">
							{
								Array.from({ length: 5 }, () => (
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<path
											fill="currentColor"
											d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
										/>
									</svg>
								))
							}
						</span>
						<h3 class="flex items-center gap-2">
							<span class="font-bold text-xl">John Doe</span>
							<svg
								class="text-green-600"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								><path
									fill="currentColor"
									d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
								></path></svg
							>
						</h3>
						<p class="text-gray-600">
							"I'm blown away by the quality and style of the
							clothes I received from Shop.co. From casual wear to
							elegant dresses, every piece I've bought has
							exceeded my expectations.”
						</p>
					</li>
					<li
						class="border border-gray-400 rounded-2xl py-6 px-8 space-y-2"
					>
						<span class="flex text-yellow-400">
							{
								Array.from({ length: 5 }, () => (
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<path
											fill="currentColor"
											d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
										/>
									</svg>
								))
							}
						</span>
						<h3 class="flex items-center gap-2">
							<span class="font-bold text-xl">John Doe</span>
							<svg
								class="text-green-600"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								><path
									fill="currentColor"
									d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
								></path></svg
							>
						</h3>
						<p class="text-gray-600">
							"I'm blown away by the quality and style of the
							clothes I received from Shop.co. From casual wear to
							elegant dresses, every piece I've bought has
							exceeded my expectations.”
						</p>
					</li>
					<li
						class="border border-gray-400 rounded-2xl py-6 px-8 space-y-2"
					>
						<span class="flex text-yellow-400">
							{
								Array.from({ length: 5 }, () => (
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<path
											fill="currentColor"
											d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"
										/>
									</svg>
								))
							}
						</span>
						<h3 class="flex items-center gap-2">
							<span class="font-bold text-xl">John Doe</span>
							<svg
								class="text-green-600"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								><path
									fill="currentColor"
									d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
								></path></svg
							>
						</h3>
						<p class="text-gray-600">
							"I'm blown away by the quality and style of the
							clothes I received from Shop.co. From casual wear to
							elegant dresses, every piece I've bought has
							exceeded my expectations.”
						</p>
					</li>
				</ul>
			</div>
		</section>

		<section class="relative mt-44 sm:mt-36 mb">
			<div
				class="top-0 absolute left-1/2 -translate-x-1/2 -translate-y-1/2 container"
			>
				<div
					class="flex flex-col md:flex-row justify-between items-center bg-black py-8 px-6 md:px-16 rounded-2xl gap-4"
				>
					<h2
						class="text-2xl sm:text-3xl lg:text-4xl font-bold text-white"
					>
						STAY UPTO DATE ABOUT <br />OUR LATEST OFFERS
					</h2>
					<form class="max-w-sm">
						<input
							class="bg-neutral-100 rounded-full px-5 py-3 text-black w-full"
							type="text"
							placeholder="Enter your email address"
						/>
						<button
							class="bg-white hover:bg-zinc-300 transition rounded-full py-3 mt-3 inline-block cursor-pointer w-full text-black"
							>Subscribe to Newsletter</button
						>
					</form>
				</div>
			</div>
		</section>

		<footer class="bg-neutral-100 pt-26 md:pt-20">
			<div class="container mx-auto">
				<section
					class="flex flex-col md:flex-row justify-between items-center pt-12 pb-6 gap-2"
				>
					<div class="flex flex-col md:flex-row items-center gap-3">
						<img
							src="https://placehold.co/150x60"
							class=""
							alt="logo"
						/>
						<h3 class="font-bold text-2xl"></h3>
						<ul class="flex flex-wrap items-center gap-4">
							<li><a href="">Shop</a></li>
							<li><a href="">On Sale</a></li>
							<li><a href="">New Arrivals</a></li>
							<li><a href="">Brands</a></li>
						</ul>
					</div>
					<ul class="flex items-center gap-4">
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Terms & Conditions</a></li>
						<li><a href="">Contact Us</a></li>
					</ul>
				</section>
				<section class="py-6 border-t-2 border-gray-300">
					<p class="text-center text-gray-700 py-4">
						Copyright 2022 Shop.co. All rights reserved.
					</p>
				</section>
			</div>
		</footer>
	</body>
</html>
